.container {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid var(--light-gray);
  background-color: aliceblue;
  cursor: url("/images/cursor.cur") 16 16, pointer;
  display: flex;
  justify-content: center;
}
.container.active {
  background-color: var(--purplish-blue);
}

.container.active .check {
  border: solid white;
  margin-top: 2px;
  margin-inline: auto;
  width: 6px;
  height: 12px;

  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
